@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: ibm plex mono;
}

a {
  text-decoration: none;
}

#menu-toggle {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 800px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.botones {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5%;
  font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
  .botones {
    height: 80px;
    font-size: 2.25rem;
  }
}

.botones img {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 800px) {
  .botones img {
    width: 36px;
    height: 36px;
  }
}

.botones label {
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .botones label {
    display: none;
  }
}

nav {
  font-size: 1rem;
  background-color: #0000EC;
  display: none;
}

@media screen and (min-width: 800px) {
  nav {
    display: block;
    background-color: #FFFFFF;
  }
}

.menu {
  list-style: none;
}

.menu li {
  height: 56px;
  padding: 20px 30px;
}

@media screen and (min-width: 800px) {
  .menu li {
    display: inline;
    padding-left: 48px;
  }
}

.menu li a {
  color: #FFFFFF;
}

@media screen and (min-width: 800px) {
  .menu li a {
    color: #060A24;
  }
  .menu li a:hover {
    text-decoration: line-through;
    color: #00F3BB;
  }
  .menu li a:active {
    text-decoration: line-through;
    color: #060A24;
  }
}

.cruz {
  display: none;
}

#menu-toggle:checked ~ nav {
  display: block;
}

#menu-toggle:checked ~ div .burger {
  display: none;
}

#menu-toggle:checked ~ div .cruz {
  display: block;
}

@media screen and (min-width: 800px) {
  #menu-toggle:checked ~ div .cruz {
    display: none;
  }
}

h1 {
  font-size: 2.25rem;
  font-family: ibm plex sans;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.25rem;
  font-family: ibm plex sans;
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 3rem;
  }
}

.blanco {
  color: #FFFFFF;
}

.home {
  padding: 26.5px 5%;
}

@media screen and (min-width: 800px) {
  .home {
    padding: 120px 0 5px 14%;
  }
}

.home h1 {
  margin-bottom: 16px;
}

.home p {
  margin-bottom: 36px;
}

@media screen and (min-width: 800px) {
  .home p {
    margin-bottom: 56px;
    width: 628px;
  }
}

.home div {
  margin-bottom: 24px;
}

@media screen and (min-width: 800px) {
  .home div {
    width: 226px;
  }
}

.boton {
  background: #00F3BB;
  color: #060A24;
  display: block;
  height: 48px;
  font-size: 1rem;
  text-align: center;
  padding: 13px 0;
}

.boton a {
  color: #060A24;
}

.boton:hover {
  color: #FFFFFF;
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

.boton:hover > a {
  color: #FFFFFF;
}

@media screen and (min-width: 800px) {
  .boton {
    height: 56px;
    padding: 17px 0;
  }
}

.episodios {
  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
          clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  padding: 20% 0 50% 0;
}

@media screen and (min-width: 800px) {
  .episodios {
    padding: 10% 0 158px 0;
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }
}

.episodios h2 {
  margin-bottom: 15.5px;
  margin-left: 5%;
}

@media screen and (min-width: 800px) {
  .episodios h2 {
    margin-bottom: 6px;
    margin-left: 14%;
  }
}

.cont-episodios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 800px) {
  .cont-episodios {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

iframe {
  width: 298px;
  overflow: hidden;
  margin: 5.5px 0;
}

@media screen and (min-width: 800px) {
  iframe {
    width: 584px;
    margin-bottom: 72px;
  }
}

.cont-nos {
  position: relative;
  top: -100px;
}

@media screen and (min-width: 800px) {
  .cont-nos {
    top: -150px;
    padding: 0 14%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: -150px;
  }
}

.cont-nos .hist-img {
  height: 519px;
  width: auto;
  margin-bottom: 27px;
}

@media screen and (min-width: 800px) {
  .cont-nos .hist-img {
    height: 660px;
  }
}

.cont-nos aside {
  margin: 0 5%;
}

.cont-nos aside h2 {
  margin-bottom: 8px;
}

.invitadas h2 {
  margin-bottom: 14px;
}

@media screen and (min-width: 800px) {
  .invitadas h2 {
    margin: 0 0 36px 14%;
  }
}

.invitadas .cont-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 48px;
}

@media screen and (min-width: 800px) {
  .invitadas .cont-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.invitadas .cont-img img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 800px) {
  .invitadas .cont-img img {
    width: 33.3%;
  }
}

.topics h2 {
  margin: 0 5%;
}

@media screen and (min-width: 800px) {
  .topics h2 {
    margin: 0 14%;
  }
}

.topics .tab-topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 37px 0;
}

@media screen and (min-width: 800px) {
  .topics .tab-topics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 56px 0 34px 0;
  }
}

.topics .tab-topics table {
  margin-bottom: 36px;
}

.topics .tab-topics table tr {
  margin-bottom: 13px;
}

td {
  font-size: 1.5rem;
  text-align: center;
  max-width: 220px;
}

td img {
  width: 104px;
  height: 104px;
}

.novedades {
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  padding: 64px 5%;
}

.novedades h2 {
  margin-bottom: 36px;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .novedades h2 {
    margin-top: 113px;
  }
}

@media screen and (min-width: 800px) {
  .novedades a {
    width: 345px;
    margin: 0 auto 75px auto;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 800px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer p {
  font-size: 0.875rem;
  margin: 16px 0;
  color: #060A24;
}

@media screen and (min-width: 800px) {
  footer p {
    font-size: 1rem;
  }
}

.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
  }
}

.social li {
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  .social li {
    margin-left: 36px;
  }
}

.social li a {
  color: #060A24;
}
/*# sourceMappingURL=styles.css.map */